<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="geotrellis.server.ogc" level="${GT_OGC_LOG_LEVEL:-INFO}"/>
  <logger name="org.http4s.blaze.channel.nio1" level="WARN"/>

  <root level="ALL">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
