<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="geotrellis.store" level="${GT_STORE_LOG_LEVEL:-WARN}"/>
  <logger name="geotrellis.server.ogc" level="${GT_OGC_LOG_LEVEL:-DEBUG}"/>
  <logger name="org.http4s" level="${HTTP4S_LOG_LEVEL:-WARN}"/>
  <logger name="org.http4s.blaze.channel.nio1" level="${BLAZE_NIO_LOG_LEVEL:-WARN}"/>
  <logger name="software.amazon.awssdk" level="${AWS_SDK_LOG_LEVEL:-WARN}"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
