version: 2.1

executors:
  executor-openjdk8:
    docker:
      - image: circleci/openjdk:8-jdk
        environment:
          # https://circleci.com/docs/2.0/java-oom/
          _JAVA_OPTIONS: "-Xms128m -Xmx2g"

jobs:
  openjdk8-build:
    parameters:
      scala-version:
        type: string
    executor: executor-openjdk8
    environment:
      SCALA_VERSION: << parameters.scala-version >>
    steps:
      - checkout
      - restore_cache:
          keys:
            - sbt-cache-{{ checksum "project/Dependencies.scala" }}
      - run:
          name: Executing cibuild
          command: ./scripts/cibuild
      - save_cache:
          key: sbt-cache-{{ checksum "project/Dependencies.scala" }}
          paths:
            - "~/.ivy2/cache"
            - "~/.cache/coursier"
            - "~/.sbt"
            - "~/.m2"

  openjdk8-deploy:
    parameters:
      scala-version:
        type: string
    executor: executor-openjdk8
    environment:
      SCALA_VERSION: << parameters.scala-version >>
    steps:
      - checkout
      - restore_cache:
          keys:
            - sbt-cache-{{ checksum "project/Dependencies.scala" }}
      - run:
          name: "Import signing key"
          command: |
            gpg --keyserver keyserver.ubuntu.com \
              --recv-keys "0x${GPG_KEY_ID}" && \
            echo "${GPG_KEY}" | base64 -d > signing_key.asc && \
            gpg --import signing_key.asc
      - run:
          name: Executing cipublish
          command: ./scripts/cipublish

workflows:
  build:
    jobs:
      - openjdk8-build:
          matrix:
            parameters:
              scala-version: ["2.12.14"]
          # required since openjdk8-deploy has tag filters AND requires
          # openjdk8
          # https://circleci.com/docs/2.0/workflows/#executing-workflows-for-a-git-tag
          filters:
            tags:
              only:
                - /^(.*)$/
      - openjdk8-deploy:
          matrix:
            parameters:
              scala-version: ["2.12.14"]
          requires:
            - openjdk8-build
          filters:
            tags:
              only:
                - /^(.*)$/
            branches:
              only:
                - main
