body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

#map {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 300px;
    width: 100%;
}

#sidebar {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 300px;
    overflow-y: auto;
    padding: 5px;
}

.cogform {
    border: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px
}

.custom-range {
  padding: 10px;
  width: 85%;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
